<!DOCTYPE html>
<html>

<head>

<title>Analytics</title>


<style>

body{

font-family:Arial;
background:#eefaff;
text-align:center;

}


.card{

background:white;
width:400px;
margin:80px auto;
padding:30px;
border-radius:20px;
box-shadow:0 5px 20px #ccc;

}


h1{

color:#0077aa;

}

a{

color:#0077aa;

}

</style>


</head>


<body>


<div class="card">


<h1>📊 Model Analytics</h1>


<h3>Decision Tree Accuracy : 100%</h3>

<h3>Random Forest Accuracy : 100%</h3>

<h3>KNN Accuracy : 91.3%</h3>

<h3>XGBoost Accuracy : 100%</h3>


<br>

<a href="/">Back Home</a>


</div>


</body>

</html>